<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
</head>
<body>
    <div id="nav-container">
        <button id="menu-btn"><i class="fa-solid fa-bars"></i></button>
        <div class="slide">
            <h1>MENU</h1>
            <ul id="nav-list">
                <li class="active"><a href="#"><i class="fa-solid fa-house"></i></i></a>Home</li>
                <li><a href="#"><i class="fa-solid fa-money-check-dollar"></i></a>New Expenses</li>
                <li><a href="#"><i class="fa-solid fa-money-check"></i></a>Add budget</li>
                <li><a href="#"><i class="fa-solid fa-clock-rotate-left"></i></a>History</li>
                <li><a href="#"><i class="fa-solid fa-chart-simple"></i></a>View Insights</li>
            </ul>
        </div>
    </div>