<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/add.css">
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
</head>
<body>
    <div id="nav-container">
        <button id="menu-btn">
            <i class="fa-solid fa-ellipsis"></i>
            <ul id="btn-list">
                <li><i class="fa-solid fa-house"></i></li>
                <li><i class="fa-solid fa-money-check-dollar"></i></li>
                <li><i class="fa-solid fa-money-check"></i></li>
                <li><i class="fa-solid fa-clock-rotate-left"></i></li>
                <li><i class="fa-solid fa-chart-simple"></i></li>
            </ul>
        </button>
        <div class="slide">
            <h1>MENU</h1>
            <ul id="nav-list">
                <li class="active" id="home"><i class="fa-solid fa-house"></i></i>Home</li>
                <li><i class="fa-solid fa-money-check-dollar"></i>New Expenses</li>
                <li><i class="fa-solid fa-money-check"></i>Add budget</li>
                <li><i class="fa-solid fa-clock-rotate-left"></i>History</li>
                <li><i class="fa-solid fa-chart-simple"></i>View Insights</li>
            </ul>
        </div>
    </div>