<%- include("partials/header.ejs") %>

    <div id="dashboard-container">
        <div id="dashboard-header">
            <div id="profile">
                <img src="./images/profile.jpg" alt="">
                <div id="info">
                    <h2 id="edit-btn">Edit</h2>
                    <h1 id="name">Joshua Vincent Padilla</h1>
                    <div id="avg">
                        <div id="income" class="avg-item">
                            <h3>Average Budget: </h3>
                            <p>P 100,000</p>
                        </div>

                        <div id="expenses" class="avg-item">
                            <h3>Average Expense: </h3>
                            <p>P 100,000</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="chart">
                <canvas id="pieChart"></canvas>
            </div>
        </div>
        
        <div id="dashboard-history">
            <h3>Recent Activity: </h3>
            <table id="table">
                <tr id="tbl-title">
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Category</th>
                </tr>

                <tr>
                    <td>Date</td>
                    <td>Budget</td>
                    <td>Expenses</td>
                    <td>tag</td>
                </tr>
            </table>
        </div>

        <div id="quick-action">
            <div class="actions">
                <i class="fa-solid fa-plus"></i>
                <p>add</p>
            </div>
            <div class="actions">
                <i class="fa-solid fa-pen"></i>
                <p>edit</p>
            </div>
            <div class="actions">
                <i class="fa-solid fa-trash-can"></i>
                <p>delete</p>
            </div>
        </div>

        <div id="total-summary">
            <div class="total-container">
                <div class="title">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <p>Income</p>
                </div>
                <h3>12345</h3>

            </div>

            <div class="total-container">
                <div class="title">
                    <i class="fa-solid fa-coins"></i>
                    <p>Budget</p>
                </div>
                <h3>12345</h3>
            </div>

            <div class="total-container">
                <div class="title">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <p>Expenses</p>
                </div>
                <h3>12345</h3>
            </div>
        </div>
    </div>

<%- include("partials/footer.ejs") %>